* {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: clamp(150px, 20%, 200px);
    background-color: rgb(230, 229, 217);
    box-shadow: 2px 2px 2px gray;
    padding-right: 15px;
    padding-left: 15px;
}

.git-info {
    display: flex;
    padding-left: 15px;
    padding-top: 30px;
    height: 60px;
    border-bottom: 5px dotted black;
    margin-bottom: 15px;
}

.project {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    justify-content: space-between;
}

.gh-image {
    height: 40px;
    width: 40px;
}

.plus-circle {
    filter: invert(10%) sepia(70%) hue-rotate(186deg) saturate(47);
    opacity: 80%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.new-project {
    margin-left: 10px;
}

.project-deleteBtn {
    height: 20px;
}

.active {
    background-color: rgba(207, 202, 202, .6);
    color: rgb(60, 109, 177);
}

.folder {
    filter: invert(35%);
}

label {
    width: 100px;
}

.blur {
    filter: blur(5px);
}

#form {
    padding: 30px;
    border-radius: 15px;
    background-color: white;
}

legend {
    font-size: 32px;
    margin-bottom: 25px;
}
.projectLabel {
    width: 150px;
    align-self: center;
}

.project-header {
    font-size: 25px;
    text-decoration: underline;
}

.project-header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content {
    flex: 1;
    justify-content: center;
}

.content-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.project-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

.red {
    background-color: rgba(224, 22, 22, .2);
}

.yellow {
    background-color: rgba(211, 211, 29, .2);
}

.green {
    background-color: rgba(18, 142, 18, .2);
}

button {
    display: flex;
    border: none;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    background: none;
}

img {
    width: 20%;
}

.taskDiv {
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
    translate: 20%;
    height: 70px;
    align-items: center;
}

.task-title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

.task-dueDate {
    font-size: 12px;
    color: rgb(61, 61, 239);
}

.task-deleteBtn {
    height: 25px;
    width: 25px;
    opacity: 70%;
    align-self: flex-end;
    translate: 0px -35px;
}

.task-deleteBtn:hover, .project-deleteBtn:hover {
    cursor: pointer;
    filter: invert(30%) sepia(90%) hue-rotate(6deg) saturate(97);
}



form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    border: 2px solid rgb(71, 71, 67);
    display: flex;
    flex-direction: column;
    gap: 2px;
    z-index: 30;
}

.closeBtn {
    position: absolute;
    right: 0px;
}